" map leader key to Space
let mapleader = " "

""" --- Plugins ---

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Nerd tree
Plug 'preservim/nerdtree'
" Surround words with " ,' ,( ,{ ,etc....
Plug 'tpope/vim-surround'


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5


" if pattern contain lower case letter it's case insensitive
" if uppercase letter it's case sensitive
set ignorecase
set smartcase

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" Map ESC to Caps lock key
inoremap jj <Esc>
set timeoutlen=2000

" Map H to go to beginning of non white character of the line
noremap H ^

" Map L to go to end of non white character of the line
noremap L $

" Map S to replace (substitute) the word under cursor with the last yanked/deleted word.
nnoremap S "_diwP

" Map leader<p> to last yanked register
map <leader>p "0p

" Go from method implementation to super method (interface)
map gs <Action>(GotoSuperMethod)

" Go from interface to method implementation
map gb <Action>(GotoImplementation)

" Override the super methods
map <leader>o <Action>(OverrideMethods)

" Implement super methods
map <leader>i <Action>(ImplementMethods)

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

" Reformat code
map <leader>rf <Action>(ReformatCode)

" refactor name of the current element (variable,method,class).
map <leader>rr <Action>(RenameElement)

" create a method from the selected code.
map <leader>rm <Action>(ExtractMethod)

" create a variable from the selected value.
map <leader>rv <Action>(IntroduceVariable)

" create a filed (class variable) from the selected value.
map <leader>rf <Action>(IntroduceField)

nmap <leader>t <Action>(ActivateTerminalToolWindow)


" Nerd tree shortcuts
" m open menu bar on the tree selection.
" n	Create File
" N	Create Package
" d	Delete file or directory
" q close the tree window.
" p traverse to the parent of the current selection.
" CTRL+N find current file in the tree and set focus on the tree.
noremap <C-n> :NERDTreeFind<cr>
noremap <leader>e :NERDTree<cr>

" Type s + <brackets> to surround current word (word under cursor) with the desired brackets.
nmap s ysiw

" Surround the selected words with brackets in visual mode.
vmap s S

" Tab to go to next tab
nmap <Tab> <Action>(NextTab)

" SHIFT + Tab to go to prev tab
nmap <S-Tab> <Action>(PreviousTab)

set clipboard=unnamedplus

nmap <C-w>= <Action>(MaximizeEditorInSplit);

nmap <C-w>- <Action>(MaximizeEditorInSplit);

nmap qw <Action>(CloseContent);


" Disable Vim bell sound.
set noerrorbells
set visualbell

set wrap

" Resize split window size.
nmap <C-Down> <Action>(StretchSplitToBottom)
nmap <C-Left> <Action>(StretchSplitToLeft)
nmap <C-Right> <Action>(StretchSplitToRight)
nmap <C-Up> <Action>(StretchSplitToTop)
